/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
  font-size: 1vw;
  color: #ffffff, 
}
h1 {
  font-size: 1vw;
}
.logoDiv{
  display:flex;
  flex-direction: row;
}
.logoDiv img{
  padding-left: 1vw;
}
nav{
  display:flex;
  justify-content: space-between;
  background-color: #040F0F;
  padding: 1em 0em ;
}
.navLinks{
  padding-right: 10vw;
}
nav img{
  max-height: 2vw;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  color: #C2FCF7;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #57737A;
}
nav a:active {
  background-color: black;
}
