/* DashboardComponent's private CSS styles */
@font-face {
  font-family: "DiscoDiva";
  src: url('../../assets/fonts/DiscoDiva.ttf') format('truetype');
  
}


h2 {
  text-align: center;
}

.svg-menu {
  padding: 0;
  margin: auto;

  margin-top: 5vw;
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}
.FeaturedTitle {
  color: #fb6348;
  font-size: 2.5vw;
  padding-top: 2vw;
  font-family: "DiscoDiva" !important;
  font-weight: 700;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(244, 244, 244), 0 0 0.2em rgb(255, 30, 0);
}
h2 {
  color: #fb9481;
  font-size: 1.5rem;
}
.featureCard {
  border: solid black;
  height: 20vw;
  width: 15vw;
  background-color: #57737A;
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
  
}

.featureCard:hover{
  transform: translate(0, -8px);
  transition: transform 300ms ease-in-out;
  cursor: pointer;
  
}
.featureCard img {
  height: 15vw;
  width: 100%;
  background-color: #57737A;
  border: none;
}


@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
}

